<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie-edge">
    <style>
        table, th, td{
            border : 1px solid black;
            border-collapse: collapse;
        }
        th,td{
            padding: 10px;
            text-align: left;
        }
        table{
	        display: table;
        }
        table tr{
	        display: table-cell;
        }
        table tr td{
	        display: block;
        }
    </style>
</head>
<body>
    <table style="width:80%">
        <tr>
            <td>Term</td>
            <td>Word 1</td>
            <td>Word 2</td>
        </tr>
        <tr>
            <td>Query</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Document1</td>
            <td>1</td>
            <td>0</td>
        </tr>
    </table>
</body>
</html>
